body {
	background-color:#B22222;
	color:black;
	font-size:20pt;
	font-family:"Arial";
	font-style:normal;
	padding: 0;
	margin: 0;
	}
. roster tr
{
	
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}
	
h1 {
	color:#2F4F4F;
	font-size:48pt;
	font-family:"Book Antiqua",Palatino, serif;
	font-style:italic;
	}
	
.toptab {
	float: middle;
	list-style-type: none;
	width: 900px;
	height: 10px;
	padding: 0;
	}
 
.toptab li{
    float: left;
	margin-right: 1px;
	padding: 0;
	}
 
.toptab li a{
	color:#fff;
	font-size:16pt;
	font-family:"Times New Roman",Times, serif;
	font-style:normal;
	line-height: 40px;
    float: left; 
	text-decoration: none;
	padding: 0 10px;
	background-color: #000;
	}
.toptab li.current a {
	background-color:#2F4F4F;
	color:black;
}
.toptab li.current a:hover 
{
	background-color: #aaa;
	color:navy;
}	
.toptab li a:hover {
	background-color: #aaa;
	color: #fff;
}



.clear {
	clear:both;
}
		 
	 
#content 
{
	style="width:999px";
	margin: 0 auto;
	float:left;
}
#leftColumn
{
	background-color:#942626;
	color:black;
	width:330px;
	height:680px;
	border-style:solid;
	border-width:1px;
	float:left;	
}
#middleColumn
{
	background-color:#942626;
	color:black;
	width:330px;
	height:680px;
	border-style:solid;
	border-width:1px;
	float:left;
}
#rightColumn
{
	background-color:#942626;
	color:black;
	width:328px;
	height:680px;
	border-style:solid;
	border-width:1px;
	float:left;
}
.signInForm
{
	width:300;
	background-color:white;
	border:"4";
	color:black;
}	
		 
